.Card {
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
}

.Card p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Card a {
  border: solid 1px black;
  padding: 5px;
  margin: 10px 0;
  font-size: 12px;
}
